/.idea
/.settings
/.buildpath
/.project
.DS_Store
/target
/instance-src
/vendor
/webapps
/deploy/*.phar*
/var/log
/var/tmp/example
/build.properties
/composer.lock
/composer.phar
/*.iml
.is-installed
.appserver-last-successfull-deployment
/tests/TechDivision/ApplicationServer/etc
/docs/site
/bin
/sbin
/etc/appserver/appserver.xml
/etc/appserver/appserver-failover.xml
/etc/appserver/server.pem
/var/tmp/example
/var/tmp/proffile
/var/tmp/opcache-blacklist.txt
/webapps/index.html
/.vagrant
*.log
.README.md.html
.ROADMAP.md.html
.CHANGELOG.md.html
