/.idea
/.settings
/.buildpath
/.project
.DS_Store
/target
/instance-src
/include
/lib
/etc/conf.d
/etc/pear.conf
/etc/php-fpm*
/etc/php.ini
/man
/php
/share
/ssl
/vendor
/webapps
/deploy/*.phar*
/tmp
/build.properties
/composer.lock
/composer.phar
/*.iml
.is-installed
.appserver-last-successfull-deployment
/tests/TechDivision/ApplicationServer/etc
/docs/site
/bin
/sbin
/etc/appserver/appserver.xml
/etc/appserver/appserver-runner.xml
/etc/appserver/appserver-failover.xml
/etc/appserver/server.pem
/var/log
/var/run
/var/tmp
/webapps/index.html
/.vagrant
*.log
.README.md.html
.ROADMAP.md.html
.CHANGELOG.md.html
