<phpunit>
    <testsuites>
	    <testsuite name="appserver-io/appserver PHPUnit testsuite">
	        <directory suffix="AbstractServiceTest.php">tests</directory>
	    </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
		    <exclude>
                <!-- these libraries are in testing status -->
                <directory>src/AppserverIo/Appserver/Meta</directory>
                <directory>src/AppserverIo/Appserver/WebSocketServer</directory>
                <directory>src/AppserverIo/Appserver/WebSocketProtocol</directory>
                <directory>src/AppserverIo/Appserver/MemcacheServer</directory>
                <directory>src/AppserverIo/Appserver/MemcacheProtocol</directory>
                <directory>src/AppserverIo/Appserver/PersistentServletEngine</directory>
		    </exclude>
        </whitelist>
    </filter>
    <!-- Code coverage report, optional -->
    <logging>
        <log type="coverage-html" target="target/reports/unit/coverage"/>
        <log type="coverage-clover" target="target/reports/unit/clover.xml"/>
        <log type="junit" target="target/reports/unit/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>