<phpunit bootstrap="bootstrap.php">
    <testsuites>
	    <testsuite name="ApplicationServer Unit Tests">
	        <directory suffix="Test.php">.</directory>
	    </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
		    <exclude>
		        <directory prefix="Mock">.</directory>
		        <directory suffix="Test.php">.</directory>
		    </exclude>
        </whitelist>
    </filter>
    <!-- Code coverage report, optional -->
    <logging>
        <log type="coverage-html" target="${php-target.dir}/reports/unit/coverage"/>
        <log type="coverage-clover" target="${php-target.dir}/reports/unit/clover.xml"/>
        <log type="junit" target="${php-target.dir}/reports/unit/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>