<footer class="footer container-full hidden-print">
  <div class="container">
    <div class="row">

      <div class="links col-md-3 col-xs-2">
        <h4 class="title">Copyrights</h4>
        <ul class="list-unstyled">
          <li><a href="{{ "/imprint.html" | prepend: site.baseurl }}">Imprint</a></li>
          <li><a href="{{ "/terms.html" | prepend: site.baseurl }}">Terms</a></li>
          <li><a href="{{ "/privacy.html" | prepend: site.baseurl }}">Privacy</a></li>
          <li><a href="{{ "/contact.html" | prepend: site.baseurl }}">Contact</a></li>
          <li><a href="{{ "/about.html" | prepend: site.baseurl }}">About</a></li>
        </ul>
      </div><!--//foooter-col-->

      <div class="contact col-md-3 col-xs-3">
          <h4 class="title">Contact Details</h4>
          <p>
            TechDivision GmbH<br />
            Spinnereiinsel 3a<br />
            83059 Kolbermoor<br />
          </p>
          <p><i class="fa fa-phone"></i>
            <abbr title="Phone">P</abbr>: +49 8031 / 221055-0</p>
      </div>

      <div class="social col-md-6 col-xs-7 text-right">
        <ul class="list-inline">
          <li><a href="https://twitter.com/php_appserver" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="https://www.facebook.com/appserver.io" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li class="row-end"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss-square fa-2x"></i></a></li>
        </ul>
        <br>
        <p class="intro">Subscribe and get the Latest news!</p>
        {% include mailing_list.html %}
        <br>
      </div><!--//foooter-col-->

      <div class="clearfix"></div>
    </div><!--//row-->
  </div><!--//container-->
  <div class="container-full copyright">
    <div class="container">
      <p class="text-right">
        <small>
          &copy; 2014 All Rights Reserved - <a href="http://www.techdivision.com/" target="_blank">TechDivision GmbH</a>
        </small>
      </p>
    </div>
  </div>
</footer>

<!-- Javascript libraries -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{{ "/assets/js/jquery.hipchat.js" | prepend: site.baseurl }}"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
  interval: 5000 //changes the speed
})

$(function () {
  $('.container-chat').hipChatPanel({
    url: 'td.hipchat.com/gGgNAXbx6',
    timezone: 'MST',
    width: '100%',
    height: 300,
    buttonClasses: 'btn btn-info btn-lg',
    buttonTitle: '<i class="fa fa-weixin"></i> Open Hipchat now!'
  });
});

</script>

<!-- Analytics integration -->
{% include analytics.html %}
