<footer class="footer container-full hidden-print">
  <div class="container">
    <div class="row">

      <div class="footer-col col-xs-4">
        <h4 class="title">Copyrights</h4>
        <ul class="list-unstyled">
          <li><a href="{{ "/imprint.html" | prepend: site.baseurl }}">Imprint</a></li>
          <li><a href="{{ "/terms.html" | prepend: site.baseurl }}">Terms</a></li>
          <li><a href="{{ "/privacy.html" | prepend: site.baseurl }}">Privacy</a></li>
          <li><a href="{{ "/contact.html" | prepend: site.baseurl }}">Contact</a></li>
          <li><a href="{{ "/about.html" | prepend: site.baseurl }}">About</a></li>
        </ul>
      </div><!--//foooter-col-->

      <div class="footer-col col-xs-8 text-right">
        <p class="intro">Get the Latest news</p>
        {% include mailing_list.html %}
        <ul class="social list-inline">
          <li><a href="https://twitter.com/php_appserver" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/appserver.io"><i class="fa fa-facebook"></i></a></li>
          <li class="row-end"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
        </ul>
        <br>
        <p class="text-right">
          <small class="copyright">
            &copy; 2014 All Rights Reserved - <a href="http://www.techdivision.com/" target="_blank">TechDivision GmbH</a>
          </small>
        </p>
      </div><!--//foooter-col-->

      <div class="clearfix"></div>
    </div><!--//row-->
  </div><!--//container-->
</footer>

<!-- Javascript libraries -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
  interval: 5000 //changes the speed
})
</script>

<!-- Analytics integration -->
{% include analytics.html %}
