<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta property="og:image" content="/asssets/img/appserver_logo_og.png">
  <title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% endif %}</title>

  {% for redirect in site.redirects %}
  {% if redirect.url == page.url %}
  <meta http-equiv="refresh" content="0; url={{ redirect.redirect | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ redirect.redirect | prepend: site.baseurl }}" />
  {% endif %}
  {% endfor %}

  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endif %}">

  <link rel="icon" type="image/png" href="/favicon.png">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
