/* =============================================== *\
	HTML5 VIDEO BACKGROUND
	This is the important part
	It can be used for a 'hero' section or a
	full-screen background
\* =============================================== */
/* This first class is not necessary for full-screen backgrounds */
.video-hero {
	position: relative;
	overflow: hidden;
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.video-bg video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
	/**
	 * For full-screen video backgrounds, add the
	 * .video-bg--fullscreen class to .video-bg div
	 */
	.video-bg--fullscreen {
		position: fixed;
	}
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: rgba(0,0,0,0.5); /* You can play with the opacity */
}
/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video' is the name of the video
 */
.video-bg.demo-video {
	background-image: url(files/programming-ide.jpg);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .video-bg video {
	opacity: 0;
	-webkit-transition: opacity .8s linear;
	   -moz-transition: opacity .8s linear;
	    	transition: opacity .8s linear;
}
.js .video-bg video.is-playing {
	opacity: 1;
}
