<?xml version="1.0" encoding="UTF-8"?>
<context 
    name="globalBaseContext" 
    factory="AppserverIo\Appserver\Application\ApplicationFactory" 
    type="AppserverIo\Appserver\Application\Application" 
    xmlns="http://www.appserver.io/appserver">

    <!--
    <params>
        <param name="cache.dir" type="string">/cache</param>
        <param name="session.dir" type="string">/session</param>
    </params>
    -->

    <classLoaders>
        <classLoader
            name="ComposerClassLoader"
            interface="ClassLoaderInterface"
            type="AppserverIo\Appserver\Core\ComposerClassLoader"
            factory="AppserverIo\Appserver\Core\ComposerClassLoaderFactory">
            <directories>
                <directory>/vendor</directory>
            </directories>
        </classLoader>
        <classLoader
            name="DgClassLoader"
            interface="ClassLoaderInterface"
            type="AppserverIo\Appserver\Core\DgClassLoader"
            factory="AppserverIo\Appserver\Core\DgClassLoaderFactory">
            <params>
                <param name="environment" type="string">production</param>
                <param name="enforcementLevel" type="integer">7</param>
                <param name="typeSafety" type="boolean">1</param>
                <param name="processing" type="string">logging</param>
            </params>
            <directories>
                <directory enforced="true">/common/classes</directory>
                <directory enforced="true">/WEB-INF/classes</directory>
                <directory enforced="true">/META-INF/classes</directory>
            </directories>
        </classLoader>
    </classLoaders>

    <loggers>
        <logger channelName="system" name="System" type="\AppserverIo\Logger\Logger">
            <handlers>
                <handler type="\AppserverIo\Logger\Handlers\CustomFileHandler">
                    <formatter type="\AppserverIo\Logger\Formatters\StandardFormatter"/>
                    <params>
                        <param name="logFile" type="string">var/log/${webapp.name}-errors.log</param>
                        <param name="logLevel" type="string">info</param>
                    </params>
                </handler>
            </handlers>
        </logger>
        <logger channelName="access" name="Access" type="\AppserverIo\Logger\Logger">
            <handlers>
                <handler type="\AppserverIo\Logger\Handlers\CustomFileHandler">
                    <formatter type="\AppserverIo\Logger\Formatters\StandardFormatter">
                        <params>
                            <param name="format" type="string">%4$s</param>
                        </params>
                    </formatter>
                    <params>
                        <param name="logFile" type="string">var/log/${webapp.name}-access.log</param>
                        <param name="logLevel" type="string">info</param>
                    </params>
                </handler>
            </handlers>
        </logger>
    </loggers>

    <managers>
        <manager name="ObjectManagerInterface" type="AppserverIo\Appserver\DependencyInjectionContainer\ObjectManager" factory="AppserverIo\Appserver\DependencyInjectionContainer\ObjectManagerFactory">
            <descriptors>
                <descriptor>AppserverIo\Description\ServletDescriptor</descriptor>
                <descriptor>AppserverIo\Description\MessageDrivenBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Description\StatefulSessionBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Description\SingletonSessionBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Description\StatelessSessionBeanDescriptor</descriptor>
            </descriptors>
        </manager>
        <manager name="ProviderInterface" type="AppserverIo\Appserver\DependencyInjectionContainer\Provider" factory="AppserverIo\Appserver\DependencyInjectionContainer\ProviderFactory"/>
        <manager name="PersistenceContextInterface" type="AppserverIo\Appserver\PersistenceContainer\PersistenceManager" factory="AppserverIo\Appserver\PersistenceContainer\PersistenceManagerFactory" contextFactory="AppserverIo\Appserver\Naming\NamingContextFactory"/>
        <manager name="BeanContextInterface" type="AppserverIo\Appserver\PersistenceContainer\BeanManager" factory="AppserverIo\Appserver\PersistenceContainer\BeanManagerFactory" contextFactory="AppserverIo\Appserver\Naming\NamingContextFactory">
            <params>
                <param name="baseDirectory" type="string">META-INF</param>
                <param name="lifetime" type="integer">1440</param>
                <param name="garbageCollectionProbability" type="float">0.1</param>
            </params>
            <directories>
                <directory>/META-INF/classes</directory>
            </directories>
        </manager>
        <manager name="QueueContextInterface" type="AppserverIo\Appserver\MessageQueue\QueueManager" factory="AppserverIo\Appserver\MessageQueue\QueueManagerFactory">
            <params>
                <param name="baseDirectory" type="string">META-INF</param>
                <param name="maximumJobsToProcess" type="integer">200</param>
            </params>
        </manager>
        <manager name="ServletContextInterface" type="AppserverIo\Appserver\ServletEngine\ServletManager" factory="AppserverIo\Appserver\ServletEngine\ServletManagerFactory" contextFactory="AppserverIo\Appserver\Naming\NamingContextFactory">
            <params>
                <param name="baseDirectory" type="string">WEB-INF</param>
            </params>
            <directories>
                <directory>/WEB-INF/classes</directory>
            </directories>
        </manager>
        <manager name="SessionManagerInterface" type="AppserverIo\Appserver\ServletEngine\StandardSessionManager" factory="AppserverIo\Appserver\ServletEngine\StandardSessionManagerFactory">
            <sessionHandlers>
                <sessionHandler name="filesystem" type="AppserverIo\Appserver\ServletEngine\Session\FilesystemSessionHandler" factory="AppserverIo\Appserver\ServletEngine\Session\SessionHandlerFactory">
                    <!-- params>
                        <param name="sessionMarshaller" type="string">AppserverIo\Appserver\ServletEngine\StandardSessionMarshaller</param>
                    </params -->
                </sessionHandler>
            </sessionHandlers>
        </manager>
        <manager name="TimerServiceContextInterface" type="AppserverIo\Appserver\PersistenceContainer\TimerServiceRegistry" factory="AppserverIo\Appserver\PersistenceContainer\TimerServiceRegistryFactory"/>
        <manager name="AuthenticationManagerInterface" type="AppserverIo\Appserver\ServletEngine\Security\StandardAuthenticationManager" factory="AppserverIo\Appserver\ServletEngine\Security\StandardAuthenticationManagerFactory">
            <authenticators>
                <authenticator name="Form" type="AppserverIo\Authenticator\FormAuthenticator" />
                <authenticator name="Basic" type="AppserverIo\Authenticator\BasicAuthenticator" />
                <authenticator name="Digest" type="AppserverIo\Authenticator\DigestAuthenticator" />
            </authenticators>
            <!-- securityDomains>
                <securityDomain name="api-realm">
                    <authConfig>
                        <loginModules>
                            <loginModule type="AppserverIo\Appserver\ServletEngine\Security\Auth\Spi\HtpasswdFileLoginModule" flag="required">
                                <params>
                                    <param name="filename" type="string">WEB-INF/htpasswd</param>
                                    <param name="password-stacking" type="string">useFirstPass</param>
                                </params>
                            </loginModule>
                            <loginModule type="AppserverIo\Appserver\ServletEngine\Security\Auth\Spi\DatabasePDOLoginModule" flag="required">
                                <params>
                                    <param name="lookupName" type="string">php:env/combined-appserver/appserver.io-example-application</param>
                                    <param name="principalsQuery" type="string">select encode(password, 'hex') from principal where username=?</param>
                                    <param name="rolesQuery" type="string">select r.role, r.role_group from role r inner join principal p on r.role = p.role where p.username=?</param>
                                    <param name="hashAlgorithm" type="string">SHA-512</param>
                                    <param name="hashEncoding" type="string">hex</param>
                                    <param name="password-stacking" type="string">useFirstPass</param>
                                </params>
                            </loginModule>
                        </loginModules>
                    </authConfig>
                </securityDomain>
            </securityDomains -->
        </manager>
        <manager name="AspectManagerInterface" type="AppserverIo\Appserver\AspectContainer\AspectManager" factory="AppserverIo\Appserver\AspectContainer\AspectManagerFactory"/>
    </managers>

    <provisioners>
        <provisioner name="standard" factory="AppserverIo\Appserver\Provisioning\StandardProvisionerFactory" type="AppserverIo\Appserver\Provisioning\StandardProvisioner" />
    </provisioners>

</context>