<?xml version="1.0" encoding="UTF-8"?>
<context type="AppserverIo\Appserver\Application\Application">

    <!--
    <params>
        <param name="cache.dir" type="string">/cache</param>
        <param name="session.dir" type="string">/session</param>
    </params>
    -->

    <classLoaders>
        <classLoader
            name="ComposerClassLoader"
            interface="ClassLoaderInterface"
            type="AppserverIo\Appserver\Core\ComposerClassLoader"
            factory="AppserverIo\Appserver\Core\ComposerClassLoaderFactory">
            <directories>
                <directory>/vendor</directory>
            </directories>
        </classLoader>
        <classLoader
            name="DgClassLoader"
            interface="ClassLoaderInterface"
            type="AppserverIo\Appserver\Core\DgClassLoader"
            factory="AppserverIo\Appserver\Core\DgClassLoaderFactory">
            <params>
                <param name="environment" type="string">production</param>
                <param name="enforcementLevel" type="integer">7</param>
                <param name="typeSafety" type="boolean">1</param>
                <param name="processing" type="string">logging</param>
            </params>
            <directories>
                <directory enforced="true">/common/classes</directory>
                <directory enforced="true">/WEB-INF/classes</directory>
                <directory enforced="true">/META-INF/classes</directory>
            </directories>
        </classLoader>
    </classLoaders>

    <managers>
        <manager name="ObjectManagerInterface" type="AppserverIo\Appserver\DependencyInjectionContainer\ObjectManager" factory="AppserverIo\Appserver\DependencyInjectionContainer\ObjectManagerFactory">
            <descriptors>
                <descriptor>AppserverIo\Appserver\DependencyInjectionContainer\Description\ServletDescriptor</descriptor>
                <descriptor>AppserverIo\Appserver\DependencyInjectionContainer\Description\SingletonSessionBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Appserver\DependencyInjectionContainer\Description\StatefulSessionBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Appserver\DependencyInjectionContainer\Description\StatelessSessionBeanDescriptor</descriptor>
                <descriptor>AppserverIo\Appserver\DependencyInjectionContainer\Description\MessageDrivenBeanDescriptor</descriptor>
            </descriptors>
        </manager>
        <manager name="ProviderInterface" type="AppserverIo\Appserver\DependencyInjectionContainer\Provider" factory="AppserverIo\Appserver\DependencyInjectionContainer\ProviderFactory"/>
        <manager name="BeanContext" type="AppserverIo\Appserver\PersistenceContainer\BeanManager" factory="AppserverIo\Appserver\PersistenceContainer\BeanManagerFactory">
            <!-- params>
                <param name="lifetime" type="integer">1440</param>
                <param name="garbageCollectionProbability" type="float">0.1</param>
            </params -->
            <directories>
                <directory>/META-INF/classes</directory>
            </directories>
        </manager>
        <manager name="QueueContext" type="AppserverIo\Appserver\MessageQueue\QueueManager" factory="AppserverIo\Appserver\MessageQueue\QueueManagerFactory"/>
        <manager name="ServletContext" type="AppserverIo\Appserver\ServletEngine\ServletManager" factory="AppserverIo\Appserver\ServletEngine\ServletManagerFactory">
            <directories>
                <directory>/WEB-INF/classes</directory>
            </directories>
        </manager>
        <manager name="SessionManager" type="AppserverIo\Appserver\ServletEngine\StandardSessionManager" factory="AppserverIo\Appserver\ServletEngine\StandardSessionManagerFactory"/>
        <manager name="TimerServiceContext" type="AppserverIo\Appserver\PersistenceContainer\TimerServiceRegistry" factory="AppserverIo\Appserver\PersistenceContainer\TimerServiceRegistryFactory"/>
        <manager name="AuthenticationManager" type="AppserverIo\Appserver\ServletEngine\Authentication\StandardAuthenticationManager" factory="AppserverIo\Appserver\ServletEngine\Authentication\StandardAuthenticationManagerFactory"/>
        <manager name="AspectManagerInterface" type="AppserverIo\Appserver\AspectContainer\AspectManager" factory="AppserverIo\Appserver\AspectContainer\AspectManagerFactory"/>
    </managers>

</context>