<?xml version="1.0" encoding="UTF-8"?>
<di xmlns="http://www.appserver.io/appserver">

    <!-- ==================================================================================== -->
    <!--  GENERIC BEAN DEFINITIONS                                                            -->
    <!-- ==================================================================================== -->

    <beans>

        <!-- ================================================================================ -->
        <!--  DOCTRINE CONFIGURATION BEAN DEFINITIONS                                         -->
        <!-- ================================================================================ -->

        <bean>
            <name>DefaultRepositoryFactory</name>
            <class>Doctrine\ORM\Repository\DefaultRepositoryFactory</class>
        </bean>
    </beans>

</di>