<?xml version="1.0" encoding="UTF-8"?>
<di xmlns="http://www.appserver.io/appserver">

    <!-- ==================================================================================== -->
    <!--  GENERIC BEAN DEFINITIONS                                                            -->
    <!-- ==================================================================================== -->

    <beans/>

</di>