<ul class="nav nav-tabs nav-justified list-unstyled downloads">
{% for download in site.data.downloads %}
    <li class="{% if forloop.first %}active{% endif %}">
        <a href="#{{ download.id }}" data-toggle="tab"><i class="fa {{ download.icon }}"></i>&nbsp;&nbsp;{{ download.os }}</a>
    </li>
{% endfor %}
</ul>

<p><br/></p>

<div class="col-lg-12">
    <div class="tab-content">
        {% for download in site.data.downloads %}
            <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ download.id }}">
                {% capture downloadcontent %}{% include downloads/content.md %}{% endcapture %}
                {{ downloadcontent | markdownify }}
                <p><br/></p>
                {% if download.dist-suffix %}
                    {% capture distname %}{{ site.appserver_download_dist_prefix }}{{ site.appserver_version }}{{ download.dist-suffix }}{% endcapture %}
                    <a id="btn-download-{{ download.id }}" class="btn btn-info btn-lg"
                       href="{{ site.appserver_download_baseurl }}{{ site.appserver_version }}/{{ distname }}">
                        <i class="fa fa-download"></i>&nbsp;&nbsp;{{ distname }}
                    </a>
                {% endif %}
                {% if download.runtime-suffix %}
                    {% capture runtimename %}{{ site.appserver_download_runtime_prefix }}{{ site.appserver_runtime_version }}{{ download.runtime-suffix }}{% endcapture %}
                    <a class="btn btn-info btn-lg"
                       href="{{ site.appserver_download_baseurl }}{{ site.appserver_version }}/{{ runtimename }}">
                        <i class="fa fa-download"></i>&nbsp;&nbsp;{{ runtimename }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
