{% if page.slider %}
<!-- Header Carousel -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for slide in page.slider %}
        {% if slide.title %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endif %}
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        {% for slide in page.slider %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <div class="fill" style="background-image: url('{{ slide.img | prepend: site.baseurl }}');opacity:{% if slide.img_opacity %}{{ slide.img_opacity }}{% endif %};"></div>
            {% if slide.title %}
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://raw.githubusercontent.com/appserver-io-apps/welcome-page/master/logo_iron-knight_debian_x86_64.png">
                    </div>
                    <div class="col-md-6">
                        <h1>{{ slide.title }}</h1>
                        {% if slide.countdown %} {% include widgets/countdown.html %} {% endif %}
                        {% if slide.link-label %}<a href="{{ slide.link-href | prepend: site.baseurl }}" class="btn btn-lg btn-info-highlight"><i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;{{ slide.link-label }} Version {{ site.appserver_version }}</a>{% endif %}
                        <br/><br/>
                        <a href="{{ slide.link-detail-href | prepend: site.baseurl }}" class="btn btn-default"><i class="fa fa-file-text-o fa-lg"></i>&nbsp;&nbsp;More details...</a>
                        <br/><br/>
                        <p class="carousel-info"></p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
{% endif %}
