{% if page.slider %}
<!-- Header Carousel -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for slide in page.slider %}
        {% if slide.title %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endif %}
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for slide in page.slider %}
        {% if slide.title %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <div class="fill" style="background-image:url('{{ slide.img | prepend: site.baseurl }}');opacity:.75;"></div>
            <div class="carousel-caption">
                <h1>{{ slide.title }}</h1>
                {% if slide.countdown %} {% include widgets/countdown.html %} {% endif %}
                {% if slide.text %}{{ slide.text }}<br>{% endif %}
                {% if slide.link-label %}<a href="{{ slide.link-href | prepend: site.baseurl }}" class="btn btn-lg btn-info-highlight"><i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;{{ slide.link-label }}</a>{% endif %}
                <br/><br/>
                <p class="carousel-info">Version {{ site.appserver_version }}&nbsp;&nbsp;·&nbsp;&nbsp;<a href="{{ "/get-started/documentation.html" | prepend: site.baseurl }}" ><i class="fa fa-book"></i> Documentation</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="{{ site.github_repository }}"><i class="fa fa-github"></i> Github Project</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="{{ site.gitter }}"><i class="fa fa-weixin"></i> Gitter Support Chat</a></p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
{% endif %}
