{% for b in include.box %}
<div class="col-md-4 text-center">
    <div class="thumbnail">
        <img class="img-responsive" src="{{ b.image }}" alt="">
        <div class="caption">
            <h3>{{ b.name }}<br>
                <small>{{ b.title }}</small>
            </h3>
            <p>{{ b.text }}</p>
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}