<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body role="document">

    {% include header.html %}

    <!-- Page Content -->
    <div class="container-page">
        test
    </div>
    <div class="container">

        <!-- Content Section -->
        <div class="row">
            <div class="col-lg-12 content">
                {{ content }}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <div class="container-page">
        test
    </div>

    <!-- /.container -->

    {% include footer.html %}

</body>
</html>
