---
layout: news
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title"><i class="fa fa-tag"></i> {{ page.title }}</h1>
    <p>
      <i class="fa fa-clock-o"></i> Posted on {{ page.date | date_to_string }}
      {% if page.author %} |
      <a href="https://github.com/{{ page.author }}" class="post-author">
        <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}" width="24" height="24" />
        {{ page.author }}
      </a>&nbsp;
      {% endif %}
      | &nbsp;<a href="{{ site.url }}{{ page.url | prepend: site.baseurl }}#disqus_thread">0 Comments</a>
    </p>
    <hr>
  </header>
  <article class="post-content blog-content">
    {{ content }}
  </article>
  <p><br/></p>
  <div id="disqus_thread"></div>
</div>
{% include disqus_embed.html %}