<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body role="document">

    {% include header.html %}

    <!-- Page Content -->
    <div class="container-page">
        <div class="container">

            <div class="row">
                <div class="col-md-3" id="leftCol">
                    {% assign items = site.tuts | sort: 'position' %}
                    {% include sub_nav.html %}
                </div>
                <!-- Content Section -->
                <div class="col-md-9 content">
                    <h2>{% if page.group and page.group != "Docs" %}<small>{{ page.group }} / </small>{{ page.title }}{% else %}{{ page.headline }}{% endif %}</h2><hr/>
                    <div class="docs-content">
                        {{ content }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->

    {% include footer.html %}

</body>
</html>
