<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body role="document">
    {% include header.html %}
    <!-- Page Content -->
    <div class="container-page">
        <div class="container">
            <div class="row">
                <!-- Content Section -->
                <div class="col-md-12 content">
                    <h1><i class="fa fa-share-alt"></i> {% if page.group and page.group != "Docs" %}<small><a href="{{ "/documentation/tutorials.html" | prepend: site.baseurl }}">{{ page.group }}</a> / </small>{{ page.title }}{% else %}{{ page.headline }}{% endif %}</h1><hr/>
                    <div class="docs-content">
                        {{ content }}
                        {% if page.group != "Tutorials" %}
                        <p><br/></p>
                        {% assign items = site.tuts | sort: 'position' %}
                        {% for item in items %}
                            <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
                            {{ item.description }}
                            <br/><br/>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
    {% include footer.html %}
</body>
</html>
